.btnFacebook { 
    height:50px; 
    padding-left: 20px;
    padding-right: 20px;
    /* margin-right: 30px; */
    border-radius: 50px 50px 50px 50px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    display: inline-block;
  }
  .btnGoogle { 
    width: 50px;
    height:50px;
    border-radius: 50px;
    background: #3b5998;
    color:white;
    border:0px transparent;
    text-align: center;
  }
  .btnFacebook:hover {
    background: #3b5998;
    opacity: 0.9;
  }
  .btnGoogle:hover {
    background: #db3236;
    opacity: 0.6;
  }
/*   
  @media only screen and (max-width : 399px) {
    .btnFacebook,.btnGoogle{
      width: 100%
    }
  } */